{
                      "properties": {"property": [{"name": "buildSettings",
                                                     "value": "PREFER_VCS"},
                                                    {"name": "credentialsStorageType",
                                                     "value": "credentialsJSON"},
                                                    {"name": "enabled",
                                                     "value": "true"},
                                                    {"name": "format",
                                                     "value": "kotlin"},
                                                    {"name": "rootId",
                                                     "value": "{{ VCSRootID }}"},
                                                    {"name": "showChanges",
                                                     "value": "false"},
                                                    {"name": "useRelativeIds",
                                                     "value": "true"}]},
                      "type": "versionedSettings"
}